@import "tailwindcss";
@source "../../../../packages/";
@plugin 'tailwindcss-animate';

@theme inline {
  --color-gray-950: rgb(23, 23, 23);
  --color-gray-900: rgb(28, 28, 28);
  --color-gray-800: rgb(41, 41, 41);
  --color-gray-700: rgb(51, 51, 51);
  --color-gray-600: rgb(92, 92, 92);
  --color-gray-500: rgb(123, 123, 123);
  --color-gray-400: rgb(163, 163, 163);
  --color-gray-300: rgb(209, 209, 209);
  --color-gray-200: rgb(235, 235, 235);
  --color-gray-100: rgb(245, 245, 245);
  --color-gray-50: rgb(247, 247, 247);
  --color-gray-0: rgb(255, 255, 255);

  --color-gray-alpha-24: rgb(163, 163, 163 / 24%);
  --color-gray-alpha-16: rgb(163, 163, 163 / 16%);
  --color-gray-alpha-10: rgb(163, 163, 163 / 10%);

  --color-slate-950: rgb(14, 18, 27);
  --color-slate-900: rgb(24, 27, 37);
  --color-slate-800: rgb(34, 37, 48);
  --color-slate-700: rgb(43, 48, 59);
  --color-slate-600: rgb(82, 88, 102);
  --color-slate-500: rgb(113, 119, 132);
  --color-slate-400: rgb(153, 160, 174);
  --color-slate-300: rgb(202, 207, 216);
  --color-slate-200: rgb(225, 228, 234);
  --color-slate-100: rgb(242, 245, 248);
  --color-slate-50: rgb(245, 247, 250);
  --color-slate-0: rgb(255, 255, 255);

  --color-slate-alpha-24: rgb(153, 160, 174 / 24%);
  --color-slate-alpha-16: rgb(153, 160, 174 / 16%);
  --color-slate-alpha-10: rgb(153, 160, 174 / 10%);

  --color-neutral-950: var(--color-gray-950);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-0: var(--color-gray-0);

  --color-neutral-alpha-24: var(--color-gray-alpha-24);
  --color-neutral-alpha-16: var(--color-gray-alpha-16);
  --color-neutral-alpha-10: var(--color-gray-alpha-10);

  --color-blue-950: rgb(18, 35, 104);
  --color-blue-900: rgb(24, 47, 139);
  --color-blue-800: rgb(31, 59, 173);
  --color-blue-700: rgb(37, 71, 208);
  --color-blue-600: rgb(53, 89, 233);
  --color-blue-500: rgb(51, 92, 255);
  --color-blue-400: rgb(104, 149, 255);
  --color-blue-300: rgb(151, 186, 255);
  --color-blue-200: rgb(192, 213, 255);
  --color-blue-100: rgb(213, 226, 255);
  --color-blue-50: rgb(235, 241, 255);

  --color-blue-alpha-24: rgb(51, 92, 255 / 24%);
  --color-blue-alpha-16: rgb(51, 92, 255 / 16%);
  --color-blue-alpha-10: rgb(51, 92, 255 / 10%);

  --color-orange-950: rgb(113, 51, 10);
  --color-orange-900: rgb(150, 68, 13);
  --color-orange-800: rgb(183, 83, 16);
  --color-orange-700: rgb(206, 94, 18);
  --color-orange-600: rgb(225, 102, 20);
  --color-orange-500: rgb(250, 115, 25);
  --color-orange-400: rgb(255, 164, 104);
  --color-orange-300: rgb(255, 193, 151);
  --color-orange-200: rgb(255, 217, 192);
  --color-orange-100: rgb(255, 230, 213);
  --color-orange-50: rgb(255, 243, 235);

  --color-orange-alpha-24: rgb(250, 115, 25 / 24%);
  --color-orange-alpha-16: rgb(250, 115, 25 / 16%);
  --color-orange-alpha-10: rgb(250, 115, 25 / 10%);

  --color-red-950: rgb(104, 18, 25);
  --color-red-900: rgb(139, 24, 34);
  --color-red-800: rgb(173, 31, 43);
  --color-red-700: rgb(208, 37, 51);
  --color-red-600: rgb(233, 53, 68);
  --color-red-500: rgb(251, 55, 72);
  --color-red-400: rgb(255, 104, 117);
  --color-red-300: rgb(255, 151, 160);
  --color-red-200: rgb(255, 192, 197);
  --color-red-100: rgb(255, 213, 216);
  --color-red-50: rgb(255, 235, 236);

  --color-red-alpha-24: rgb(251, 55, 72 / 24%);
  --color-red-alpha-16: rgb(251, 55, 72 / 16%);
  --color-red-alpha-10: rgb(251, 55, 72 / 10%);

  --color-green-950: rgb(11, 70, 39);
  --color-green-900: rgb(22, 100, 59);
  --color-green-800: rgb(26, 117, 68);
  --color-green-700: rgb(23, 140, 78);
  --color-green-600: rgb(29, 175, 97);
  --color-green-500: rgb(31, 193, 107);
  --color-green-400: rgb(62, 224, 137);
  --color-green-300: rgb(132, 235, 180);
  --color-green-200: rgb(194, 245, 218);
  --color-green-100: rgb(208, 251, 233);
  --color-green-50: rgb(224, 250, 236);

  --color-green-alpha-24: rgb(31, 193, 107 / 24%);
  --color-green-alpha-16: rgb(31, 193, 107 / 16%);
  --color-green-alpha-10: rgb(31, 193, 107 / 10%);

  --color-yellow-950: rgb(98, 76, 24);
  --color-yellow-900: rgb(134, 102, 29);
  --color-yellow-800: rgb(167, 128, 37);
  --color-yellow-700: rgb(201, 154, 44);
  --color-yellow-600: rgb(230, 168, 25);
  --color-yellow-500: rgb(246, 181, 30);
  --color-yellow-400: rgb(255, 210, 104);
  --color-yellow-300: rgb(255, 224, 151);
  --color-yellow-200: rgb(255, 236, 192);
  --color-yellow-100: rgb(255, 239, 204);
  --color-yellow-50: rgb(255, 244, 214);

  --color-yellow-alpha-24: rgb(251, 198, 75 / 24%);
  --color-yellow-alpha-16: rgb(251, 198, 75 / 16%);
  --color-yellow-alpha-10: rgb(251, 198, 75 / 10%);

  --color-purple-950: rgb(53, 26, 117);
  --color-purple-900: rgb(61, 29, 134);
  --color-purple-800: rgb(76, 37, 167);
  --color-purple-700: rgb(91, 44, 201);
  --color-purple-600: rgb(105, 62, 224);
  --color-purple-500: rgb(125, 82, 244);
  --color-purple-400: rgb(140, 113, 246);
  --color-purple-300: rgb(168, 151, 255);
  --color-purple-200: rgb(202, 192, 255);
  --color-purple-100: rgb(220, 213, 255);
  --color-purple-50: rgb(239, 235, 255);

  --color-purple-alpha-24: rgb(120, 77, 239 / 24%);
  --color-purple-alpha-16: rgb(120, 77, 239 / 16%);
  --color-purple-alpha-10: rgb(120, 77, 239 / 10%);

  --color-sky-950: rgb(18, 75, 104);
  --color-sky-900: rgb(24, 101, 139);
  --color-sky-800: rgb(31, 126, 173);
  --color-sky-700: rgb(37, 151, 208);
  --color-sky-600: rgb(53, 173, 233);
  --color-sky-500: rgb(71, 194, 255);
  --color-sky-400: rgb(104, 205, 255);
  --color-sky-300: rgb(151, 220, 255);
  --color-sky-200: rgb(192, 234, 255);
  --color-sky-100: rgb(213, 241, 255);
  --color-sky-50: rgb(235, 248, 255);

  --color-sky-alpha-24: rgb(71, 194, 255 / 24%);
  --color-sky-alpha-16: rgb(71, 194, 255 / 16%);
  --color-sky-alpha-10: rgb(71, 194, 255 / 10%);

  --color-pink-950: rgb(104, 18, 61);
  --color-pink-900: rgb(139, 24, 82);
  --color-pink-800: rgb(173, 31, 102);
  --color-pink-700: rgb(208, 37, 122);
  --color-pink-600: rgb(233, 53, 143);
  --color-pink-500: rgb(251, 75, 163);
  --color-pink-400: rgb(255, 104, 179);
  --color-pink-300: rgb(255, 151, 203);
  --color-pink-200: rgb(255, 192, 223);
  --color-pink-100: rgb(255, 213, 234);
  --color-pink-50: rgb(255, 235, 244);

  --color-pink-alpha-24: rgb(251, 75, 163 / 24%);
  --color-pink-alpha-16: rgb(251, 75, 163 / 16%);
  --color-pink-alpha-10: rgb(251, 75, 163 / 10%);

  --color-teal-950: rgb(11, 70, 62);
  --color-teal-900: rgb(22, 100, 90);
  --color-teal-800: rgb(26, 117, 105);
  --color-teal-700: rgb(23, 140, 125);
  --color-teal-600: rgb(29, 175, 156);
  --color-teal-500: rgb(34, 211, 187);
  --color-teal-400: rgb(63, 222, 201);
  --color-teal-300: rgb(132, 235, 221);
  --color-teal-200: rgb(194, 245, 238);
  --color-teal-100: rgb(208, 251, 245);
  --color-teal-50: rgb(228, 251, 248);

  --color-teal-alpha-24: rgb(34, 211, 187 / 24%);
  --color-teal-alpha-16: rgb(34, 211, 187 / 16%);
  --color-teal-alpha-10: rgb(34, 211, 187 / 10%);

  --color-white-alpha-24: rgb(255, 255, 255 / 24%);
  --color-white-alpha-16: rgb(255, 255, 255 / 16%);
  --color-white-alpha-10: rgb(255, 255, 255 / 10%);

  --color-black-alpha-24: rgb(0, 0, 0 / 24%);
  --color-black-alpha-16: rgb(0, 0, 0 / 16%);
  --color-black-alpha-10: rgb(0, 0, 0 / 10%);

  --color-overlay-gray: rgb(51, 51, 51 / 24%);
  --color-overlay-slate: rgb(43, 48, 59 / 24%);

  --color-overlay: var(--color-overlay-gray);

  --color-social-apple: rgb(0, 0, 0);
  --color-social-twitter: rgb(1, 1, 1);
  --color-social-github: rgb(36, 41, 47);
  --color-social-notion: rgb(30, 34, 38);
  --color-social-tidal: rgb(0, 0, 0);
  --color-social-amazon: rgb(53, 62, 71);
  --color-social-zendesk: rgb(22, 20, 13);

  --color-primary-dark: var(--color-purple-800);
  --color-primary-darker: var(--color-purple-700);
  --color-primary: var(--color-purple-500);
  --color-primary-base: var(--color-purple-500);
  --color-primary-alpha-24: var(--color-blue-alpha-24);
  --color-primary-alpha-16: var(--color-blue-alpha-16);
  --color-primary-alpha-10: var(--color-blue-alpha-10);

  --color-static-black: var(--color-neutral-950);
  --color-static-white: var(--color-neutral-0);

  --color-bg-strong-950: var(--color-neutral-950);
  --color-bg-surface-800: var(--color-neutral-800);
  --color-bg-sub-300: var(--color-neutral-300);
  --color-bg-soft-200: var(--color-neutral-200);
  --color-bg-weak-50: var(--color-neutral-50);
  --color-bg-white-0: var(--color-neutral-0);

  --color-text-strong-950: var(--color-neutral-950);
  --color-text-sub-600: var(--color-neutral-600);
  --color-text-soft-400: var(--color-neutral-400);
  --color-text-disabled-300: var(--color-neutral-300);
  --color-text-white-0: var(--color-neutral-0);

  --color-stroke-strong-950: var(--color-neutral-950);
  --color-stroke-sub-300: var(--color-neutral-300);
  --color-stroke-soft-200: var(--color-neutral-200);
  --color-stroke-white-0: var(--color-neutral-0);

  --color-faded-dark: var(--color-neutral-800);
  --color-faded-base: var(--color-neutral-500);
  --color-faded-light: var(--color-neutral-200);
  --color-faded-lighter: var(--color-neutral-100);

  --color-information-dark: var(--color-blue-950);
  --color-information-base: var(--color-blue-500);
  --color-information-light: var(--color-blue-200);
  --color-information-lighter: var(--color-blue-50);

  --color-warning-dark: var(--color-orange-950);
  --color-warning-base: var(--color-orange-500);
  --color-warning-light: var(--color-orange-200);
  --color-warning-lighter: var(--color-orange-50);

  --color-error-dark: var(--color-red-950);
  --color-error-base: var(--color-red-500);
  --color-error-light: var(--color-red-200);
  --color-error-lighter: var(--color-red-50);

  --color-success-dark: var(--color-green-950);
  --color-success-base: var(--color-green-500);
  --color-success-light: var(--color-green-200);
  --color-success-lighter: var(--color-green-50);

  --color-away-dark: var(--color-yellow-950);
  --color-away-base: var(--color-yellow-500);
  --color-away-light: var(--color-yellow-200);
  --color-away-lighter: var(--color-yellow-50);

  --color-feature-dark: var(--color-purple-950);
  --color-feature-base: var(--color-purple-500);
  --color-feature-light: var(--color-purple-200);
  --color-feature-lighter: var(--color-purple-50);

  --color-verified-dark: var(--color-sky-950);
  --color-verified-base: var(--color-sky-500);
  --color-verified-light: var(--color-sky-200);
  --color-verified-lighter: var(--color-sky-50);

  --color-highlighted-dark: var(--color-pink-950);
  --color-highlighted-base: var(--color-pink-500);
  --color-highlighted-light: var(--color-pink-200);
  --color-highlighted-lighter: var(--color-pink-50);

  --color-stable-dark: var(--color-teal-950);
  --color-stable-base: var(--color-teal-500);
  --color-stable-light: var(--color-teal-200);
  --color-stable-lighter: var(--color-teal-50);

  --font-title-h1-size: 3.5rem;
  --font-title-h1-line-height: 4rem;
  --font-title-h1-letter-spacing: -0.01em;
  --font-title-h1-font-weight: 500;

  --font-title-h2-size: 3rem;
  --font-title-h2-line-height: 3.5rem;
  --font-title-h2-letter-spacing: -0.01em;
  --font-title-h2-font-weight: 500;

  --font-title-h3-size: 2.5rem;
  --font-title-h3-line-height: 3rem;
  --font-title-h3-letter-spacing: -0.01em;
  --font-title-h3-font-weight: 500;

  --font-title-h4-size: 2rem;
  --font-title-h4-line-height: 2.5rem;
  --font-title-h4-letter-spacing: -0.005em;
  --font-title-h4-font-weight: 500;

  --font-title-h5-size: 1.5rem;
  --font-title-h5-line-height: 2rem;
  --font-title-h5-letter-spacing: 0em;
  --font-title-h5-font-weight: 500;

  --font-title-h6-size: 1.25rem;
  --font-title-h6-line-height: 1.75rem;
  --font-title-h6-letter-spacing: 0em;
  --font-title-h6-font-weight: 500;

  --font-label-xl-size: 1.5rem;
  --font-label-xl-line-height: 2rem;
  --font-label-xl-letter-spacing: -0.015em;
  --font-label-xl-font-weight: 500;

  --font-label-lg-size: 1.125rem;
  --font-label-lg-line-height: 1.5rem;
  --font-label-lg-letter-spacing: -0.015em;
  --font-label-lg-font-weight: 500;

  --font-label-md-size: 1rem;
  --font-label-md-line-height: 1.5rem;
  --font-label-md-letter-spacing: -0.011em;
  --font-label-md-font-weight: 500;

  --font-label-sm-size: 0.875rem;
  --font-label-sm-line-height: 1.25rem;
  --font-label-sm-letter-spacing: -0.006em;
  --font-label-sm-font-weight: 500;

  --font-label-xs-size: 0.75rem;
  --font-label-xs-line-height: 1rem;
  --font-label-xs-letter-spacing: 0em;
  --font-label-xs-font-weight: 500;

  --font-paragraph-xl-size: 1.5rem;
  --font-paragraph-xl-line-height: 2rem;
  --font-paragraph-xl-letter-spacing: -0.015em;
  --font-paragraph-xl-font-weight: 400;

  --font-paragraph-lg-size: 1.125rem;
  --font-paragraph-lg-line-height: 1.5rem;
  --font-paragraph-lg-letter-spacing: -0.015em;
  --font-paragraph-lg-font-weight: 400;

  --font-paragraph-md-size: 1rem;
  --font-paragraph-md-line-height: 1.5rem;
  --font-paragraph-md-letter-spacing: -0.011em;
  --font-paragraph-md-font-weight: 400;

  --font-paragraph-sm-size: 0.875rem;
  --font-paragraph-sm-line-height: 1.25rem;
  --font-paragraph-sm-letter-spacing: -0.006em;
  --font-paragraph-sm-font-weight: 400;

  --font-paragraph-xs-size: 0.75rem;
  --font-paragraph-xs-line-height: 1rem;
  --font-paragraph-xs-letter-spacing: 0em;
  --font-paragraph-xs-font-weight: 400;

  --font-subheading-md-size: 1rem;
  --font-subheading-md-line-height: 1.5rem;
  --font-subheading-md-letter-spacing: 0.06em;
  --font-subheading-md-font-weight: 500;

  --font-subheading-sm-size: 0.875rem;
  --font-subheading-sm-line-height: 1.25rem;
  --font-subheading-sm-letter-spacing: 0.06em;
  --font-subheading-sm-font-weight: 500;

  --font-subheading-xs-size: 0.75rem;
  --font-subheading-xs-line-height: 1rem;
  --font-subheading-xs-letter-spacing: 0.04em;
  --font-subheading-xs-font-weight: 500;

  --font-subheading-2xs-size: 0.6875rem;
  --font-subheading-2xs-line-height: 0.75rem;
  --font-subheading-2xs-letter-spacing: 0.02em;
  --font-subheading-2xs-font-weight: 500;

  --font-doc-label-size: 1.125rem;
  --font-doc-label-line-height: 2rem;
  --font-doc-label-letter-spacing: -0.015em;
  --font-doc-label-font-weight: 500;

  --font-doc-paragraph-size: 1.125rem;
  --font-doc-paragraph-line-height: 2rem;
  --font-doc-paragraph-letter-spacing: -0.015em;
  --font-doc-paragraph-font-weight: 400;

  /* Border Radius */
  --radius-10: 0.625rem;
  --radius-20: 1.25rem;

  /* Box Shadows */
  --shadow-regular-xs: 0 1px 2px 0 rgb(10 13 20 / 0.08);
  --shadow-regular-sm: 0 2px 4px rgb(27 28 29 / 0.1);
  --shadow-regular-md: 0 16px 32px -12px rgb(14 18 27 / 0.1);

  --shadow-button-primary-focus:
    0 0 0 2px rgb(var(--bg-white-0)), 0 0 0 4px rgb(var(--primary-alpha-10));
  --shadow-button-important-focus:
    0 0 0 2px rgb(var(--bg-white-0)), 0 0 0 4px rgb(var(--neutral-alpha-16));
  --shadow-button-error-focus:
    0 0 0 2px rgb(var(--bg-white-0)), 0 0 0 4px rgb(var(--red-alpha-10));

  --shadow-fancy-buttons-neutral:
    0 1px 2px 0 rgb(27 28 29 / 0.48), 0 0 0 1px #242628;
  --shadow-fancy-buttons-primary:
    0 1px 2px 0 rgb(14 18 27 / 0.24), 0 0 0 1px rgb(var(--primary));
  --shadow-fancy-buttons-error:
    0 1px 2px 0 rgb(14 18 27 / 0.24), 0 0 0 1px rgb(var(--error-base));
  --shadow-fancy-buttons-stroke:
    0 1px 3px 0 rgb(14 18 27 / 0.12), 0 0 0 1px rgb(var(--stroke-soft-200));

  --shadow-toggle-switch:
    0 6px 10px 0 rgb(14 18 27 / 0.06), 0 2px 4px 0 rgb(14 18 27 / 0.03);
  --shadow-switch-thumb:
    0 4px 8px 0 rgb(27 28 29 / 0.06), 0 2px 4px 0 rgb(14 18 27 / 0.08);
  --shadow-tooltip:
    0 12px 24px 0 rgb(14 18 27 / 0.06), 0 1px 2px 0 rgb(14 18 27 / 0.03);

  --shadow-custom-xs:
    0 0 0 1px rgba(51, 51, 51, 0.04), 0 4px 8px -2px rgba(51, 51, 51, 0.06),
    0 2px 4px rgba(51, 51, 51, 0.04), 0 1px 2px rgba(51, 51, 51, 0.04),
    inset 0 -1px 1px -0.5px rgba(51, 51, 51, 0.06);
  --shadow-custom-sm:
    0 0 0 1px rgba(51, 51, 51, 0.04), 0 16px 8px -8px rgba(51, 51, 51, 0.01),
    0 12px 6px -6px rgba(51, 51, 51, 0.02),
    0 5px 5px -2.5px rgba(51, 51, 51, 0.08),
    0 1px 3px -1.5px rgba(51, 51, 51, 0.16),
    inset 0 -0.5px 0.5px rgba(51, 51, 51, 0.08);
  --shadow-custom-md:
    0 0 0 1px rgba(51, 51, 51, 0.04), 0 1px 1px 0.5px rgba(51, 51, 51, 0.04),
    0 3px 3px -1.5px rgba(51, 51, 51, 0.02),
    0 6px 6px -3px rgba(51, 51, 51, 0.04),
    0 12px 12px -6px rgba(51, 51, 51, 0.04),
    0 24px 24px -12px rgba(51, 51, 51, 0.04),
    0 48px 48px -24px rgba(51, 51, 51, 0.04),
    inset 0 -1px 1px -0.5px rgba(51, 51, 51, 0.06);
  --shadow-custom-lg:
    0 0 0 1px rgba(51, 51, 51, 0.04), 0 1px 1px 0.5px rgba(51, 51, 51, 0.04),
    0 3px 3px -1.5px rgba(51, 51, 51, 0.02),
    0 6px 6px -3px rgba(51, 51, 51, 0.04),
    0 12px 12px -6px rgba(51, 51, 51, 0.04),
    0 24px 24px -12px rgba(51, 51, 51, 0.04),
    0 48px 48px -24px rgba(51, 51, 51, 0.04),
    0 96px 96px -32px rgba(51, 51, 51, 0.06),
    inset 0 -1px 1px -0.5px rgba(51, 51, 51, 0.06);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-sans: "Inter", sans-serif;

  --spacing-sidebar: 272px;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@utility text-title-h1 {
  font-size: var(--font-title-h1-size);
  line-height: var(--font-title-h1-line-height);
  letter-spacing: var(--font-title-h1-letter-spacing);
  font-weight: var(--font-title-h1-font-weight);
}
@utility text-title-h2 {
  font-size: var(--font-title-h2-size);
  line-height: var(--font-title-h2-line-height);
  letter-spacing: var(--font-title-h2-letter-spacing);
  font-weight: var(--font-title-h2-font-weight);
}
@utility text-title-h3 {
  font-size: var(--font-title-h3-size);
  line-height: var(--font-title-h3-line-height);
  letter-spacing: var(--font-title-h3-letter-spacing);
  font-weight: var(--font-title-h3-font-weight);
}
@utility text-title-h4 {
  font-size: var(--font-title-h4-size);
  line-height: var(--font-title-h4-line-height);
  letter-spacing: var(--font-title-h4-letter-spacing);
  font-weight: var(--font-title-h4-font-weight);
}
@utility text-title-h5 {
  font-size: var(--font-title-h5-size);
  line-height: var(--font-title-h5-line-height);
  letter-spacing: var(--font-title-h5-letter-spacing);
  font-weight: var(--font-title-h5-font-weight);
}
@utility text-title-h6 {
  font-size: var(--font-title-h6-size);
  line-height: var(--font-title-h6-line-height);
  letter-spacing: var(--font-title-h6-letter-spacing);
  font-weight: var(--font-title-h6-font-weight);
}
@utility text-label-xl {
  font-size: var(--font-label-xl-size);
  line-height: var(--font-label-xl-line-height);
  letter-spacing: var(--font-label-xl-letter-spacing);
  font-weight: var(--font-label-xl-font-weight);
}
@utility text-label-lg {
  font-size: var(--font-label-lg-size);
  line-height: var(--font-label-lg-line-height);
  letter-spacing: var(--font-label-lg-letter-spacing);
  font-weight: var(--font-label-lg-font-weight);
}
@utility text-label-md {
  font-size: var(--font-label-md-size);
  line-height: var(--font-label-md-line-height);
  letter-spacing: var(--font-label-md-letter-spacing);
  font-weight: var(--font-label-md-font-weight);
}
@utility text-label-sm {
  font-size: var(--font-label-sm-size);
  line-height: var(--font-label-sm-line-height);
  letter-spacing: var(--font-label-sm-letter-spacing);
  font-weight: var(--font-label-sm-font-weight);
}
@utility text-label-xs {
  font-size: var(--font-label-xs-size);
  line-height: var(--font-label-xs-line-height);
  letter-spacing: var(--font-label-xs-letter-spacing);
  font-weight: var(--font-label-xs-font-weight);
}
@utility text-paragraph-xl {
  font-size: var(--font-paragraph-xl-size);
  line-height: var(--font-paragraph-xl-line-height);
  letter-spacing: var(--font-paragraph-xl-letter-spacing);
  font-weight: var(--font-paragraph-xl-font-weight);
}
@utility text-paragraph-lg {
  font-size: var(--font-paragraph-lg-size);
  line-height: var(--font-paragraph-lg-line-height);
  letter-spacing: var(--font-paragraph-lg-letter-spacing);
  font-weight: var(--font-paragraph-lg-font-weight);
}
@utility text-paragraph-md {
  font-size: var(--font-paragraph-md-size);
  line-height: var(--font-paragraph-md-line-height);
  letter-spacing: var(--font-paragraph-md-letter-spacing);
  font-weight: var(--font-paragraph-md-font-weight);
}
@utility text-paragraph-sm {
  font-size: var(--font-paragraph-sm-size);
  line-height: var(--font-paragraph-sm-line-height);
  letter-spacing: var(--font-paragraph-sm-letter-spacing);
  font-weight: var(--font-paragraph-sm-font-weight);
}
@utility text-paragraph-xs {
  font-size: var(--font-paragraph-xs-size);
  line-height: var(--font-paragraph-xs-line-height);
  letter-spacing: var(--font-paragraph-xs-letter-spacing);
  font-weight: var(--font-paragraph-xs-font-weight);
}
@utility text-subheading-md {
  font-size: var(--font-subheading-md-size);
  line-height: var(--font-subheading-md-line-height);
  letter-spacing: var(--font-subheading-md-letter-spacing);
  font-weight: var(--font-subheading-md-font-weight);
}
@utility text-subheading-sm {
  font-size: var(--font-subheading-sm-size);
  line-height: var(--font-subheading-sm-line-height);
  letter-spacing: var(--font-subheading-sm-letter-spacing);
  font-weight: var(--font-subheading-sm-font-weight);
}
@utility text-subheading-xs {
  font-size: var(--font-subheading-xs-size);
  line-height: var(--font-subheading-xs-line-height);
  letter-spacing: var(--font-subheading-xs-letter-spacing);
  font-weight: var(--font-subheading-xs-font-weight);
}
@utility text-subheading-2xs {
  font-size: var(--font-subheading-2xs-size);
  line-height: var(--font-subheading-2xs-line-height);
  letter-spacing: var(--font-subheading-2xs-letter-spacing);
  font-weight: var(--font-subheading-2xs-font-weight);
}
@utility text-doc-label {
  font-size: var(--font-doc-label-size);
  line-height: var(--font-doc-label-line-height);
  letter-spacing: var(--font-doc-label-letter-spacing);
  font-weight: var(--font-doc-label-font-weight);
}
@utility text-doc-paragraph {
  font-size: var(--font-doc-paragraph-size);
  line-height: var(--font-doc-paragraph-line-height);
  letter-spacing: var(--font-doc-paragraph-letter-spacing);
  font-weight: var(--font-doc-paragraph-font-weight);
}
